{% block sw_extension_buy_modal %}
    <sw-modal
        class="sw-extension-buy-modal"
        :title="$tc('sw-extension-store.component.sw-extension-buy-modal.title')"
        size="450px"
        :isLoading="isLoading"
        @modal-close="emitClose">

        {% block sw_extension_buy_modal_content %}
            <template v-if="checkoutStep === checkoutSteps.SUCCESS">
                {% block sw_extension_buy_modal_adding_success_content %}
                    <sw-extension-adding-success
                        @close="emitClose">
                    </sw-extension-adding-success>
                {% endblock %}
            </template>

            <template v-else-if="checkoutStep === checkoutSteps.FAILED">
                {% block sw_extension_buy_modal_adding_failed_content %}
                    <sw-extension-adding-failed
                        :extensionName="extension.name"
                        :title="checkoutError && checkoutError.title"
                        :detail="checkoutError && checkoutError.detail"
                        :documentationLink="checkoutErrorDocumentationLink"
                        @close="emitClose">
                    </sw-extension-adding-failed>
                {% endblock %}
            </template>

            <template v-else>
                {% block sw_extension_buy_modal_content_not_installed %}
                    {% block sw_extension_buy_modal_variant_selection %}
                        <div class="sw-extension-buy-modal__variants-selection" :class="{
                            'sw-extension-buy-modal__variants-selection-single-entry': recommendedVariants.length <= 1
                        }">
                            {% block sw_extension_buy_modal_variant_selection_content %}
                                {% block sw_extension_buy_modal_variant_selection_extension_preview %}
                                    <div class="sw-extension-buy-modal__extension-summary">
                                        {% block sw_extension_buy_modal_variant_selection_extension_preview_content %}
                                            {% block sw_extension_buy_modal_variant_selection_extension_icon %}
                                                <sw-extension-icon :src="extension.icon"/>
                                            {% endblock %}

                                            {% block sw_extension_buy_modal_variant_selection_extension_name %}
                                                <h4 class="sw-extension-buy-modal__extension-summary-name">
                                                    {{ extension.label }}
                                                </h4>
                                            {% endblock %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block sw_extension_buy_modal_variant_selection_variant_list %}
                                    <ul>
                                        {% block sw_extension_buy_modal_variant_selection_variant_list_item %}
                                            <li v-for="variant in recommendedVariants"
                                                :key="variant.id"
                                                class="sw-extension-buy-modal__variants-card"
                                                :class="variantCardClass(variant)"
                                                @click="onChangeVariantSelection(variant)">

                                                {% block sw_extension_buy_modal_variant_selection_variant_list_item_radio_button %}
                                                    <div class="sw-extension-buy-modal__variants-card-input sw-field--radio">
                                                        <div class="sw-field__radio-input">
                                                            <input type="radio"
                                                                   name="variant-selection"
                                                                   :id="`sw-extension-buy-modal__variant-${variant.type}`"
                                                                   :value="variant.id"
                                                                   :checked="variant.id === selectedVariantId"
                                                                   :disabled="isLoading"/>
                                                            <div class="sw-field__radio-state"></div>
                                                        </div>
                                                    </div>
                                                {% endblock %}

                                                {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label %}
                                                    {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_description %}
                                                        <label :for="`sw-extension-buy-modal__variant-${variant.type}`"
                                                               class="sw-extension-buy-modal__variant-description">
                                                            {{ variant.label || variant.type }}
                                                        </label>
                                                    {% endblock %}

                                                    {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_rent %}
                                                        <div v-if="variant.type === 'rent'"
                                                             class="sw-extension-buy-modal__rent">

                                                            {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_rent_prices %}
                                                                <i18n-t
                                                                    keypath="sw-extension-store.buy-modal.rent.priceDisplay"
                                                                    tag="span"
                                                                    :class="getDiscountClasses(variant)">
                                                                    <template #priceDisplay>
                                                                        <span class="sw-extension-buy-modal__list-price">{{ renderPrice(variant.netPrice) }}</span>
                                                                        <span v-if="hasDiscount(variant)" class="sw-extension-buy-modal__discounted-price">{{ getDiscountPrice(variant) }}</span>
                                                                    </template>
                                                                </i18n-t>
                                                            {% endblock %}

                                                            {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_rent_trial %}
                                                                <div v-if="variant.trialPhaseIncluded && firstMonthFree">{{ $tc('sw-extension-store.buy-modal.rent.freeTrial') }}</div>
                                                            {% endblock %}

                                                            {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_rent_disclaimer %}
                                                                <div>{{ $tc('sw-extension-store.buy-modal.rent.disclaimer') }}</div>
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_buy %}
                                                        <div v-else-if="variant.type === 'buy'"
                                                             :class="getDiscountClasses(variant)">

                                                            {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_buy_prices %}
                                                                <span v-if="hasDiscount(variant)"
                                                                      class="sw-extension-buy-modal__list-price">{{ renderPrice(variant.netPrice) }}</span>
                                                                <span class="sw-extension-buy-modal__discounted-price">{{ renderBuyPrice(variant) }}</span>
                                                            {% endblock %}
                                                        </div>
                                                    {% endblock %}

                                                    {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_fallback %}
                                                        <span v-else
                                                              class="sw-extension-buy-modal__display-default-price">
                                                            {{ renderPrice(variant.netPrice) }}
                                                        </span>
                                                    {% endblock %}

                                                    {% block sw_extension_buy_modal_variant_selection_variant_list_item_variant_label_legal %}
                                                        <span v-if="variant.legalText"
                                                              v-html="legalTextForVariant(variant)"
                                                              class="sw-extension-buy-modal__variant-text-block"/>
                                                    {% endblock %}
                                                {% endblock %}
                                            </li>
                                        {% endblock %}
                                    </ul>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sw_extension_buy_modal_summary %}
                        <div class="sw-extension-buy-modal__variant-summary">
                            {% block sw_extension_buy_modal_summary_content %}
                                {% block sw_extension_buy_modal_summary_price %}
                                    <p class="sw-extension-buy-modal__variant-summary-price">
                                        {% block sw_extension_buy_modal_summary_price_content %}
                                            {% block sw_extension_buy_modal_summary_label_price %}
                                                <span>
                                                    {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantSummary.labelPrice') }}
                                                </span>
                                            {% endblock %}

                                            {% block sw_extension_buy_modal_summary_actual_price %}
                                                <span v-if="!isLoading"
                                                      class="sw-extension-buy-modal__variant-summary-actual-price">
                                                    {{ $tc('sw-extension-store.general.labelPrice', variantRecommendation(selectedVariant), { price: formattedPrice }) }}
                                                </span>
                                            {% endblock %}
                                        {% endblock %}
                                    </p>
                                {% endblock %}

                                {% block sw_extension_buy_modal_summary_label_plus_vat %}
                                    <p class="sw-extension-buy-modal__variant-summary-price-subline"
                                       :class="vatIncludedClasses">
                                        {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantSummary.labelVat') }}
                                    </p>
                                {% endblock %}

                                {% block sw_extension_buy_modal_summary_renewal_date %}
                                    <p class="sw-extension-buy-modal__variant-summary-price-subline"
                                       :class="renewalDateClasses">
                                        {{ $tc('sw-extension-store.component.sw-extension-buy-modal.variantSummary.renewal', 0, { renewalDate: dateFilter(todayPlusOneMonth) }) }}
                                    </p>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block sw_extension_payment_selection %}
                        <sw-single-select
                            v-if="showPaymentSelection"
                            :options="paymentMeans"
                            :placeholder="$tc('sw-extension-store.buy-modal.paymentSelectionPlaceholder')"
                            valueProperty="id"
                            v-model:value="selectedPaymentMean"
                        >
                        </sw-single-select>
                    {% endblock %}

                    {% block sw_extension_payment_general_text_block %}
                        <p class="sw-extension-buy-modal__general-text-block"
                           v-if="paymentText"
                           v-html="paymentText">
                        </p>
                    {% endblock %}

                    {% block sw_extension_buy_modal_accept_toc %}
                        <sw-gtc-checkbox
                            v-model:value="tocAccepted"
                        >
                        </sw-gtc-checkbox>
                    {% endblock %}

                    {% block sw_extension_buy_modal_accept_extension_permissions %}
                        <sw-checkbox-field
                            v-if="extensionHasPermissions"
                            class="sw-extension-buy-modal__checkbox sw-extension-buy-modal__checkbox-permissions"
                            :class="`sw-extension-buy-modal__checkbox-permissions--${extension.name}`"
                            v-model:value="permissionsAccepted"
                        >
                            <template #label>
                                <span v-if="legalText">
                                    {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.introText') }}
                                    <a
                                        href="#"
                                        class="link permissions-modal-trigger"
                                        @click.prevent="openPermissionsModal"
                                    >
                                        {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.buttonPermissions') }}
                                    </a>
                                    {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.middleText') }}
                                    <a
                                        href="#"
                                        class="link legal-text-modal-trigger"
                                        @click.prevent="openLegalTextModal"
                                    >
                                        {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.buttonAppProvider') }}
                                    </a>
                                    {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.endText') }}
                                </span>

                                <span v-else>
                                    {{ $tc('sw-extension-store.component.sw-extension-buy-modal.labelAcceptPermissions') }}
                                    <a
                                        href="#"
                                        class="link permissions-modal-trigger"
                                        @click="openPermissionsModal"
                                    >
                                        {{ $tc('sw-extension-store.detail.labelButtonShowPermissions') }}
                                    </a>
                                </span>
                            </template>
                        </sw-checkbox-field>
                    {% endblock %}

                    {% block sw_extension_buy_modal_accept_extension_app_provider %}
                        <sw-checkbox-field
                            v-if="!extensionHasPermissions && legalText"
                            v-model="legalTextAccepted"
                            class="sw-extension-buy-modal__checkbox sw-extension-buy-modal__checkbox-app-provider"
                            :class="`sw-extension-buy-modal__checkbox-app-provider--${extension.name}`"
                        >
                            <template #label>
                                {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.appProviderStartText') }}
                                <a
                                    @click.prevent="openLegalTextModal"
                                    class="link legal-text-modal-trigger"
                                    href="#"
                                >
                                    {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.buttonAppProvider') }}
                                </a>
                                {{ $t('sw-extension-store.buy-modal.checkboxes.permissionsAndAppProvider.endText') }}
                            </template>
                        </sw-checkbox-field>
                    {% endblock %}

                    {% block sw_extension_buy_modal_accept_extension_privacy_policy_extensions %}
                        <sw-checkbox-field
                            v-if="extension.privacyPolicyExtension"
                            v-model="privacyExtensionsAccepted"
                            class="sw-extension-buy-modal__checkbox-privacy-policy"
                            :class="`sw-extension-buy-modal__checkbox-privacy-policy--${extension.name}`"
                        >
                            <template #label>
                                <span class="is--required">
                                    {{ $tc('sw-extension-store.component.sw-extension-buy-modal.labelAcceptPrivacyExtensions') }}
                                </span>
                                <a
                                    href="#"
                                    class="link privacy-policy-modal-trigger"
                                    @click.prevent="openPrivacyModal"
                                >
                                    {{ $tc('sw-extension-store.component.sw-extension-buy-modal.buttonShowPrivacyExtensions') }}
                                </a>
                            </template>
                        </sw-checkbox-field>
                    {% endblock %}

                    {% block sw_extension_buy_modal_alert_can_not_buy %}
                        <sw-alert v-if="!userCanBuyFromStore" variant="info">
                            {% block sw_extension_buy_modal_alert_can_not_buy_content %}
                                {{ $tc('sw-extension-store.component.sw-extension-buy-modal.alertCanNotBuy.text') }}
                            {% endblock %}
                        </sw-alert>
                    {% endblock %}

                    {% block sw_extension_buy_modal_alert_payment_means_required %}
                        <sw-alert v-if="showPaymentWarning" variant="warning">
                            {% block sw_extension_buy_modal_alert_payment_means_required_content %}
                                {{ $t('sw-extension-store.buy-modal.warnings.paymentMeansRequiredText') }}
                                <sw-external-link
                                    :href="cart && cart.payment && cart.payment.registrationUrl"
                                    class="sw-extension-buy-modal__external-link"
                                >
                                    {{ $t('sw-extension-store.buy-modal.warnings.paymentMeansRequiredLinkText') }}
                                    <sw-icon name="regular-long-arrow-right"></sw-icon>
                                </sw-external-link>
                            {% endblock %}
                        </sw-alert>
                    {% endblock %}

                    {% block sw_extension_buy_modal_button_purchase %}
                        <sw-button variant="primary"
                                   block
                                   :disabled="!canPurchaseExtension"
                                   @click="purchaseExtension">
                            {{ purchaseButtonLabel }}
                        </sw-button>
                    {% endblock %}
                {% endblock %}

                {% block sw_extension_buy_modal_permissions_modal %}
                    <sw-extension-permissions-modal
                        v-if="showPermissionsModal"
                        :extensionLabel="extension.label"
                        :domains="extension.domains"
                        :permissions="extension.permissions"
                        @modal-close="closePermissionsModal">
                    </sw-extension-permissions-modal>
                {% endblock %}

                {% block sw_extension_buy_modal_privacy_extensions_modal %}
                    <sw-extension-privacy-policy-extensions-modal
                        v-if="showPrivacyModal"
                        :extensionName="extension.label"
                        :privacyPolicyExtension="extension.privacyPolicyExtension"
                        @modal-close="closePrivacyModal">
                    </sw-extension-privacy-policy-extensions-modal>
                {% endblock %}

                {% block sw_extension_buy_modal_legal_text_modal %}
                    <sw-modal
                        v-if="showLegalTextModal"
                        @modal-close="closeLegalTextModal"
                        class="sw-extension-buy-modal__legal-text-modal"
                        :title="$t('sw-extension-store.buy-modal.legalTextModal.title')">
                        <div v-html="legalText"></div>

                        <template #modal-footer>
                            <sw-button
                                variant="primary"
                                size="small"
                                @click="closeLegalTextModal">
                                {{ $tc('global.default.close') }}
                            </sw-button>
                        </template>
                    </sw-modal>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-modal>
{% endblock %}
